* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: rgb(2, 4, 27);
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(19 19 50);
  font-size: 22px;
  max-width: -webkit-fill-available;;
}

.left a{
  font-size: 30px;
  text-decoration: none;
  color: white;

}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(128, 128, 221);
  font-size: 1.2rem;
}

.main{
  padding: 50px 0px 0px 0px;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 23px 0;
}

.firstSecion>div {
  width: 35%;
}

.leftSection img {
  width: 80%;
  margin: 0px 0px 0px 80px;
}

.rightSection {
  font-size: 3rem;
  margin: 30px 0;
}

.purple {
  color: rgb(157, 92, 217);
}

#element {
  color: rgb(157, 92, 217);
}

main hr {
  border: 0;
  background-color: #5c4c8e;
  height: 3px;
  margin: 0px 120px 40px 120px;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 65vh;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.textgray {
  color: gray;
  font-size: 0.7rem;
}

.secondSection .box {
  background: white;
  width: 70vw;
  height: 2px;
  margin: 54px 0px;
  display: flex;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 170px;
}

/* .image-top{
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
} */

.vertical-title {
  position: relative;
  top: 92px;
  width: 245px;
  font-size: 25px;
}

.vertical-desc {
  position: relative;
  top: 100px;
  color: #8f8d68;
  width: 310px;
  font-size: 12px;
}

#bold{
  color: #afa64aed;
  text-decoration: underline;
}

/* For Skills set design */
.thirdSection {
  max-width: 80vw;
  margin: auto;
  height: 100vh;
}

.thirdSection h1 {
  font-size: 2rem;
}

.text{
  font-size: 1.5rem;
  font-style: italic;
  color: rgb(157, 92, 217);
  margin: 0 0 15px 60px;
}

.skills-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 23px 0;
}

.skills-content>div {
  width: 35%;
}

.column-left {
  margin: 60px;
  width: 80%;
}

.column-right h3 {
  margin: 5px;
}


.column-right{
  width: 560px;
  margin: 61px auto;
  background-color: #08051f;
  padding: 20px;
  box-shadow: 0 14px 28px rgb(61 2 2), 0 10px 10px rgb(190 5 5);
}

.column-right li{
  margin: 10px 0;
  padding: 10px;
}

.bar{
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0 0 0 0.12), 0 1px 2px rgba(0 0 0 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
  box-shadow: 0 14px 28px rgba(0 0 0 0.25), 0 10px 10px rgba(0 0 0 0.22);
}

.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgb(106 111 207)0%, rgb(250 255 107)100%);;
}

.cp{
  width: 80%;
  animation: C++ 3s;
}

.fed{
  width: 95%;
  animation: fed 3s;
}

.WordPress{
  width: 98%;
  animation: WordPress 3s;
}


.uiux{
  width: 95%;
  animation: uiux 3s;
}

.github{
  width: 80%;
  animation: github 3s;
}
/* End of this */


footer {
  background-color: #000000;
  height: 160px;
}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footerFirst {
  text-align: center;
}

.footerSecond ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 23px;
}

footer ul li a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

footer ul li a:hover {
  color: rgb(128, 128, 221);
  font-size: 1.2rem;
}

.footerThird {
  text-align: center;
  margin: 50px;
}

.footerThird a {
  color: wheat;
  text-decoration: underline;
}

.fourthSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.fourthSection h1 {
  font-size: 2rem;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}

.fourthSection h1::after{
  content: '';
  background: #5c4c8e;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.textgrayupdate{
  color: gray;
  font-size: 0.7rem;
  text-align: center;
}

.row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
}

.services{
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: #2e2646;
  box-shadow: 0 14px 28px rgb(63 45 116), 0 10px 10px rgb(213 216 222 / 72%);
  transition: transform 0.5s, background 0.5s;
}

.services i{
  font-size: 40px;
  margin-bottom: 10px;
  color: #5c4c8e;
}

.services h2{
  font-weight: 600;
  margin-bottom: 8px;
}

.services:hover{
  background: #5c4c8e;
  transform: scale(1.05);
  box-shadow: none;
}

.fifthSection {
  max-width: 80vw;
  margin: auto;
  height: 100vh;
}

.fifthSection h1 {
  font-size: 2rem;
  text-align: center;
}

.cfp{
  color: gray;
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 50px;
}

form{
  width: 90%;
  max-width: 600px;
  place-items: center;
  margin: 0 300px
}

.input-group{
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #e8f405;
  background: black;
  border-radius: 10px;
  color: white;
}

button{
  background-color: black;
  padding: 5px 0;
  outline: none;
  border: 1px solid yellow;
  width: 100%;
  color: aliceblue;
  font-size: 25px;
  border-radius: 10px;
}

button:hover{
  background: #5c4c8e;
  transform: scale(1.05);
}

/* for mobile responsive */
@media screen and (min-width: 320px) and (max-width: 426px) {
  *{
    overflow: auto;
  }
  
  /* Navabar Responsive */
  nav {
    display: block;
    height: 80px;
  }

  nav ul li {
    margin: 0 12px;
  }

  nav ul li a {
    font-size: 12px;
}
  
  .firstSection {
    display: block;
    margin: 0px;
  }
  .leftSection img {
    width: 60%;
  }
  .rightSection {
    font-size: 25px;
    margin: 20px;
  }

.secondSection {
  display: none;
}

/* skills section */
   .thirdSection {
    max-width: fit-content;
    margin: 0px  12px;
    height: max-content;
}
  
.skills-content {
  display: block;
  overflow: hidden;
}
.skills-content>div {
  width: 100%;
}
.column-left {
  margin: 27px 0px;
}
.column-right {
  width: 560px;
  margin: -25px auto;
}

/* Contact Info */
.fifthSection {
    margin: 0px 15px;
    width: 100%;
    overflow: hidden;
}
form {
  width: fit-content;
  place-items: center;
  margin: 0px 0px 0px 0px;
}
